/* * {
	box-sizing: border-box;
  } */

  body {
	background-color: slategray;
	color: aliceblue;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
h1 {
	border: none;
	margin: 0px;
}
/* p {
	color: turquoise;
	background-color: steelblue;
	border: 2px solid;
	border-radius: 30px;
	margin: 40px;
	padding: 8px;
} */

#header {
	background-color: black;
	text-align: center;
}
#nav {
	background-color: azure;
	text-align: center;
	font-size: 1.5em;
	margin: 0px;
}
#section {
	background-color: antiquewhite;
	color: black;
	float: left;
	width: 400px;
	height: 300px;
	font-size: 1.25em;
}
article {
	background-color: steelblue;
	width: auto;
	margin: 0px;
	float: left;
	width: 400px;
	height: 400px;
	font-size: 1.25em;
	clear: left;
}

aside {
	padding-left: 500px;
	height: 700px;
	background-color: #c5ccd3;
}

section {
	margin: 0px;
}
footer {
	background-color: black;
	text-align: center;
	font-size: 1.5em;
	height: 1.5em;
	margin: 0px;
}
#nav a:hover {
	color: red;
}